*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --background:white;
    --dark-grey:rgb(37, 37, 37);
    --middle-grey:rgb(55,55,55);
    --light-grey:rgb(74, 74, 74);
    --button-blue:rgb(11, 197, 253);
    --text-color:white;
}

main {
    background-color: var(--background);
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: sans-serif;
}

.container {
    background-color: var(--dark-grey);
    color:var(--text-color);
    width:300px;
    min-width: 300px;
    display:grid;
    grid-template-rows: 50fr repeat(6, 100fr);
    grid-template-columns: repeat(4,1fr);
    gap:2px;
    height: 500px;
    border-radius: 10px;
    border:2px solid var(--light-grey);
    padding:5px;
}

#buttons {
    grid-row: 3/8;
    grid-column: 1/5;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    font-weight: 900;
}

.button {
    background-color: var(--light-grey);
    color:var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.button.function {
    background-color: var(--middle-grey);
}

.button:hover {
    background-color: var(--middle-grey);
}

.button.function:hover{
    background-color: var(--light-grey);
}

.button.blue {
    background-color: var(--button-blue);
    color:var(--dark-grey);
}

#displays {
    grid-row: 1/3;
    grid-column: 1/5;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding-right: 10px;
}

#temp-display {
    grid-row: 1/2;
    grid-column: 1/5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#main-display {
    grid-row: 2/3;
    grid-column: 1/5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 42px;
    font-weight: 900;
}


@media (min-width: 768px) {
    main {
        font-size: 36px;
    } 

    .container {
        width:450px;
        display:grid;
        gap:3px;
        height: 750px;
        border-radius: 15px;
        border:3px solid var(--light-grey);
        padding:8px;
    }

    #buttons{
        gap:3px;
    }

    .button{
        border-radius: 15px;
    }

    #displays {
        gap: 3px;
        padding-right: 15px;
    }
    
    #main-display {
        font-size: 53px;
    }
}